togostanza-tree, togostanza-barchart, togostanza-piechart, togostanza-linechart, togostanza-scatterplot, togostanza-scorecard, togostanza-text, togostanza-pagination-table, togostanza-hash-table, togostanza-scroll-table {
  --togostanza-series-0-color: #2f79b9;
  --togostanza-series-1-color: #1aa3e4;
  --togostanza-series-2-color: #40baea;
  --togostanza-series-3-color: #81d0f1;
  --togostanza-series-4-color: #b7e3f6;
  --togostanza-series-5-color: #e1f4fb;
  --togostanza-background-color: #FFFFFF;
  --togostanza-font-family: 'Arial', san-serif;
  --togostanza-axis-color: #DDDDDD;
  --togostanza-axis-width: 1;
  --togostanza-grid-color: #DDDDDD;
  --togostanza-grid-dash-length: 0;
  --togostanza-grid-opacity: 1;
  --togostanza-grid-width: 0;
  --togostanza-tick-color: #DDDDDD;
  --togostanza-tick-length: 0.5;
  --togostanza-tick-width: 0.5;
  --togostanza-label-font-color: #333333;
  --togostanza-label-font-size: 12;
  --togostanza-border-color: #f2f4f7;
  --togostanza-border-width: 0.5;
  --togostanza-title-font-color: #333333;
  --togostanza-title-font-size: 12;
  --togostanza-title-font-weight: 400;
  --togostanza-line-width: 1;
  --togostanza-opacity: 0.7;
  --togostanza-node-size: 100;
  --togostanza-edge-color: #DDDDDD;
  --togostanza-text-font-color: #333333;
  --togostanza-text-font-size: 12px;
  --togostanza-text-font-weight: 400;
  --togostanza-table-border: 1px solid #DDDDDD;
  --togostanza-table-shadow: 1px 1px 3px 1px #EEEEEE;
  --togostanza-thead-border-bottom: 1px solid #DDDDDD;
  --togostanza-thead-font-color: #333333;
  --togostanza-thead-background-color: #efeeed;
  --togostanza-thead-font-size: 12px;
  --togostanza-thead-font-weight: 400;
  --togostanza-tbody-border-bottom: 1px solid #DDDDDD;
  --togostanza-tbody-font-color: #333333;
  --togostanza-tbody-font-size: 10px;
  --togostanza-tbody-font-weight: 400;
  --togostanza-tbody-odd-background-color: #F9F9F9;
  --togostanza-tbody-even-background-color: #FFFFFF;
  --togostanza-control-border: 1px solid #DDDDDD;
  --togostanza-control-active-color: #1aa3e4;
  --togostanza-non-active-color: #DDDDDD;
  --togostanza-control-font-color: #333333;
  --togostanza-control-font-size: 10px;
  --togostanza-control-border-radius: 3px;
  --togostanza-pagination-font-color: #333333;
  --togostanza-pagination-font-size: 10px;
  --togostanza-pagination-background-color: #FFFFFF;
  --togostanza-pagination-border: 1px solid rgba(0, 0, 0, 0.1);
  --togostanza-pagination-border-radius: 3px;
  --togostanza-pagination-padding: 2px 8px;
  --togostanza-pagination-current-font-color: #FFFFFF;
  --togostanza-pagination-current-background-color: #2f79b9;
  --togostanza-pagination-current-border: 1px solid #2f79b9;
  --togostanza-pagination-arrow-color: #81d0f1;
  --togostanza-vertical-pagination-placement: column-reverse;
  --togostanza-horizonal-pagination-placement: center;
}

togostanza-scorecard {
  --togostanza-key-font-color: #1aa3e4;
  --togostanza-key-font-size: 16;
  --togostanza-key-font-weight: 400;
  --togostanza-value-font-color: #333333;
  --togostanza-value-font-size: 36;
  --togostanza-key-font-weight: 600;
}

togostanza-hash-table {
  --column-count: 1;
  --table-background-color: rgba(255,255,255,0);
  --row-padding: 5px;
  --key-width-percentage: 30%;
  --togostanza-key-font-color: #1aa3e4;
  --togostanza-key-font-size: 12px;
  --togostanza-key-font-weight: 400;
  --togostanza-value-font-color: #000000;
  --togostanza-value-font-size: 12px;
  --togostanza-value-font-weight: 400;
}
/*# sourceMappingURL=dpv.css.map */