@charset "UTF-8";
* {
  font-family: Muli, sans-serif, 'Poppins', 'Renner*', 'Avenir',
    'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans',
    'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic';
}
:host(togostanza-pagination-table) .wrapper > .tableOptionWrapper {
  min-height: auto;
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableWrapper {
  min-height: auto;
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableOption {
  padding: 0;
  margin-bottom: 0;
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableWrapper
  > table {
  line-height: 1;
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableWrapper
  > table
  > thead
  > tr
  > th {
  padding: 10px;
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableWrapper
  > table
  > tbody
  > tr
  > td {
  padding: 10px;
  overflow: hidden;
  position: relative;
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableWrapper
  > table
  > tbody
  > tr:last-of-type
  > td {
  border-bottom: solid 1px var(--togostanza-border-color);
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableWrapper
  > table
  > tbody
  > tr
  > td
  > span {
  line-height: 1.4;
}
:host(togostanza-pagination-table)
  .wrapper
  > .tableOptionWrapper
  > .tableWrapper
  > table
  > tbody
  > tr
  > td
  > span
  .label {
  overflow: inherit;
}

:host(togostanza-pagination-table)
table {
  td {
    vertical-align: top;
  }
}
