@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
togostanza-tree, togostanza-barchart, togostanza-piechart, togostanza-linechart, togostanza-scatterplot, togostanza-scorecard, togostanza-text, togostanza-pagination-table, togostanza-hash-table, togostanza-scroll-table {
  --togostanza-series-0-color: #003A6B;
  --togostanza-series-1-color: #A3D5FF;
  --togostanza-series-2-color: #B27400;
  --togostanza-series-3-color: #FFD484;
  --togostanza-series-4-color: #AFAFAF;
  --togostanza-series-5-color: #D3D3D3;
  --togostanza-background-color: #FFFFFF;
  --togostanza-font-family: 'Roboto Condensed', sans-serif;
  --togostanza-axis-color: #696969;
  --togostanza-axis-width: 1;
  --togostanza-grid-color: #f5f5f5;
  --togostanza-grid-dash-length: 0;
  --togostanza-grid-opacity: 0.2;
  --togostanza-grid-width: 0.5;
  --togostanza-tick-color: #696969;
  --togostanza-tick-length: 1.5;
  --togostanza-tick-width: 0.5;
  --togostanza-label-font-color: #696969;
  --togostanza-label-font-size: 10;
  --togostanza-border-color: #696969;
  --togostanza-border-width: 0.5;
  --togostanza-title-font-color: #696969;
  --togostanza-title-font-size: 10;
  --togostanza-title-font-weight: 400;
  --togostanza-line-width: 1;
  --togostanza-opacity: 0.8;
  --togostanza-node-size: 100;
  --togostanza-edge-color: #DDDDDD;
  --togostanza-text-font-color: #696969;
  --togostanza-text-font-size: 12px;
  --togostanza-text-font-weight: 400;
  --togostanza-table-border: 1px solid #696969;
  --togostanza-table-shadow: 1px 1px 3px 1px #EEEEEE;
  --togostanza-thead-border-bottom: 1px solid #696969;
  --togostanza-thead-font-color: #003A6B;
  --togostanza-thead-background-color: #FFFFFF;
  --togostanza-thead-font-size: 12px;
  --togostanza-thead-font-weight: 400;
  --togostanza-tbody-border-bottom: 1px solid #696969;
  --togostanza-tbody-font-color: #696969;
  --togostanza-tbody-font-size: 10px;
  --togostanza-tbody-font-weight: 400;
  --togostanza-tbody-odd-background-color: #FFFFFF;
  --togostanza-tbody-even-background-color: #FFFFFF;
  --togostanza-control-border: 1px solid #003A6B;
  --togostanza-control-active-color: #B27400;
  --togostanza-non-active-color: #EEEEEE;
  --togostanza-control-font-color: #003A6B;
  --togostanza-control-font-size: 10px;
  --togostanza-control-border-radius: 3px;
  --togostanza-pagination-font-color: #003A6B;
  --togostanza-pagination-font-size: 10px;
  --togostanza-pagination-background-color: #FFFFFF;
  --togostanza-pagination-border: 1px solid rgba(0, 0, 0, 0.1);
  --togostanza-pagination-border-radius: 3px;
  --togostanza-pagination-padding: 2px 8px;
  --togostanza-pagination-current-font-color: #FFFFFF;
  --togostanza-pagination-current-background-color: #003A6B;
  --togostanza-pagination-current-border: 1px solid #003A6B;
  --togostanza-pagination-arrow-color: #003A6B;
  --togostanza-vertical-pagination-placement: column-reverse;
  --togostanza-horizonal-pagination-placement: center {

 } ;
}

togostanza-scorecard {
  --togostanza-key-font-color: #003A6B;
  --togostanza-key-font-size: 16;
  --togostanza-key-font-weight: 400;
  --togostanza-value-font-color: #4e5059;
  --togostanza-value-font-size: 36;
  --togostanza-key-font-weight: 600 {


 } ;
}

togostanza-hash-table {
  --column-count: 1;
  --table-background-color: rgba(255,255,255,0);
  --row-padding: 5px;
  --key-width-percentage: 30%;
  --togostanza-key-font-color: #003A6B;
  --togostanza-key-font-size: 12px;
  --togostanza-key-font-weight: 400;
  --togostanza-value-font-color: #4e5059;
  --togostanza-value-font-size: 12px;
  --togostanza-value-font-weight: 400;
}
/*# sourceMappingURL=cud.css.map */