@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
togostanza-tree, togostanza-barchart, togostanza-piechart, togostanza-linechart, togostanza-scatterplot, togostanza-scorecard, togostanza-text, togostanza-pagination-table, togostanza-hash-table, togostanza-scroll-table {
  --togostanza-series-0-color: #00345b;
  --togostanza-series-1-color: #42034b;
  --togostanza-series-2-color: #9d1600;
  --togostanza-series-3-color: #9e5200;
  --togostanza-series-4-color: #909d00;
  --togostanza-series-5-color: #005524;
  --togostanza-background-color: #E6E3E3;
  --togostanza-font-family: 'Arial', san-serif;
  --togostanza-axis-color: #191a0c;
  --togostanza-axis-width: 1;
  --togostanza-grid-color: #9d9d9d;
  --togostanza-grid-dash-length: 0;
  --togostanza-grid-opacity: 1;
  --togostanza-grid-width: 0.5;
  --togostanza-tick-color: #191a0c;
  --togostanza-tick-length: 1.5;
  --togostanza-tick-width: 0.5;
  --togostanza-label-font-color: #191a0c;
  --togostanza-label-font-size: 10;
  --togostanza-border-color: #f2f4f7;
  --togostanza-border-width: 0.5;
  --togostanza-title-font-color: #191a0c;
  --togostanza-title-font-size: 12;
  --togostanza-title-font-weight: 600;
  --togostanza-line-width: 1;
  --togostanza-opacity: 1;
  --togostanza-node-size: 100;
  --togostanza-edge-color: #9d9d9d;
  --togostanza-key-font-color: #00345b;
  --togostanza-key-font-size: 16;
  --togostanza-key-font-weight: 400;
  --togostanza-value-font-color: #191a0c;
  --togostanza-value-font-size: 36;
  --togostanza-key-font-weight: 600;
  --togostanza-text-font-color: #191a0c;
  --togostanza-text-font-size: 12px;
  --togostanza-text-font-weight: 400;
  --togostanza-table-border: 1px solid #9d9d9d;
  --togostanza-table-shadow: 1px 1px 3px 1px #EEEEEE;
  --togostanza-thead-border-bottom: 1px solid #9d9d9d;
  --togostanza-thead-font-color: #00345b;
  --togostanza-thead-background-color: #FFFFFF;
  --togostanza-thead-font-size: 12px;
  --togostanza-thead-font-weight: 600;
  --togostanza-tbody-border-bottom: 1px solid #9d9d9d;
  --togostanza-tbody-font-color: #191a0c;
  --togostanza-tbody-font-size: 10px;
  --togostanza-tbody-font-weight: 400;
  --togostanza-tbody-odd-background-color: #FFFFFF;
  --togostanza-tbody-even-background-color: #FFFFFF;
  --togostanza-control-border: 1px solid #191a0c;
  --togostanza-control-active-color: #9d1600;
  --togostanza-non-active-color: #9d9d9d;
  --togostanza-control-font-color: #191a0c;
  --togostanza-control-font-size: 10px;
  --togostanza-control-border-radius: 2px;
  --togostanza-pagination-font-color: #191a0c;
  --togostanza-pagination-font-size: 12px;
  --togostanza-pagination-background-color: #FFFFFF;
  --togostanza-pagination-border: 1px solid rgba(0, 0, 0, 0.1);
  --togostanza-pagination-border-radius: 2px;
  --togostanza-pagination-padding: 2px 2px;
  --togostanza-pagination-current-font-color: #FFFFFF;
  --togostanza-pagination-current-background-color: #00345b;
  --togostanza-pagination-current-border: 1px solid #191a0c;
  --togostanza-pagination-arrow-color: #005524;
  --togostanza-vertical-pagination-placement: column-reverse;
  --togostanza-horizonal-pagination-placement: center;
  --column-count: 1;
  --table-background-color: rgba(255,255,255,0);
  --row-padding: 5px;
  --key-width-percentage: 30%;
  --togostanza-key-font-color: #00345b;
  --togostanza-key-font-size: 12px;
  --togostanza-key-font-weight: 600;
  --togostanza-value-font-color: #191a0c;
  --togostanza-value-font-size: 12px;
  --togostanza-value-font-weight: 400;
}
/*# sourceMappingURL=dark.css.map */